<style>
img {
	border: dashed red;
}
</style>
<img src='http://bit.ly/1eze8aE'> <br>

<% if @name %>
	<h1> My name is <%= @name %> </h1>
<% end %>
<form action="/named-cat" method="get">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

